test file for nlp packages that predict race to see acuuracy,the following are the packages using 

1. ethnicolr
The model uses US census data, the Florida voting registration data, and the Wikipedia data collected by Skiena and colleagues, to predict race and ethnicity based on first and last name or just the last name. 
The model provides 06 functions. 

Source: https://ethnicolr.readthedocs.io/ethnicolr.html#install  



The Prediction Process: 

owner ----> nlp ----> W: 70% NW: 30%    
block group ... ----> W: 80% NW: 20%
            .
            .
            .
            .
            and use
        min & max scale? 
          ex.  
            1 -----> 40

In [21]:
import pandas as pd

#load data fram with names here
#this is the data frame we will use
mergent_true_df = pd.read_csv('../data/mergent_intellect_executives/mergent_executive_flagged.csv.xz')

mergent_true_df
#mergent_true_df.columns #ask about search column, what does this mean

,duns,company_name,firstname,lastname,title,gender,flag_owner,flag_presi_vicepresi
0,08-836-5767,CARAHSOFT TECHNOLOGY CORP.,Craig,Abod,Pres,MALE,0,0
1,08-836-5767,CARAHSOFT TECHNOLOGY CORP.,Brian,Soliday,President,MALE,0,1
2,08-836-5767,CARAHSOFT TECHNOLOGY CORP.,Craig,Abod,President,MALE,0,1
3,08-836-5767,CARAHSOFT TECHNOLOGY CORP.,Richard,Maigue,Owner,MALE,1,0
4,08-836-5767,CARAHSOFT TECHNOLOGY CORP.,Mark,Mills,Vice President and DCO Program Manager,MALE,0,1
...,...,...,...,...,...,...,...,...
18151,61-724-4491,WILLOWCREEK ACADEMY,Pamela,French,Prin,FEMALE,0,0
18152,18-565-3516,"HORIZONS TELEVISION, INC.",Leesa,Kelly,Pres,FEMALE,0,0
18153,18-565-3516,"HORIZONS TELEVISION, INC.",Tim,Donner,Sec-treas,MALE,0,0
18154,96-657-2682,GREEN IT SYSTEMS GROUP,Dirar,Hakeem,Managing Partner,-,0,0
18155,96-657-2682,GREEN IT SYSTEMS GROUP,Marc,Herman,Treas,MALE,0,0

# Ethnicolor:

In [22]:
import ethnicolr
from ethnicolr import census_ln, pred_census_ln

namesdf = pd.DataFrame(mergent_true_df, columns=['lastname', 'firstname'])
#the orignal data frame(mergent_executives_flagged.csv.xz) contains 18156 names
#this is so i don't have to write it out
f = 'firstname'
l = 'lastname'
namesdf #dataframe with both first and last names

      lastname firstname
0         Abod     Craig
1      Soliday     Brian
2         Abod     Craig
3       Maigue   Richard
4        Mills      Mark
...        ...       ...
18151   French    Pamela
18152    Kelly     Leesa
18153   Donner       Tim
18154   Hakeem     Dirar
18155   Herman      Marc

[18156 rows x 2 columns]

## censu_ln w/first

In [39]:
w = census_ln(namesdf, f, 2010)

#produces a sig. amount of null values
#does not predict the race automatically

## censu_ln w/last

In [40]:
x = census_ln(namesdf, f, 2010)

#output is mostly null

## pred_census_ln w firstnames

In [41]:
fdf = pred_census_ln(namesdf, f, 2010)
#not many outcomes

### sort save as ethnicolor_censu_fn_pred.csv

In [42]:
#sort to binary classification w first names
#using the pred_census_fn(fname, l, 2010) data frame w/ prediction, i am transforming the data into something useful for the proj. 
d = pd.DataFrame(fdf, columns=[f, 'white'])
d['not_white']= 1-d['white']


racelist = list(fdf['race'])
notw = list(d['not_white']) 
race = []

for n in notw:
    if n > .50:
        #print(True)
        race.append(1)
    else:
        #print(False)  
        race.append(0)

race
d['race'] = race
d

#I added a prop not_white column and made it so that the race column used boolean values:
#1 if minority 
#0 if white

#i can do this for the firstname input of the function upon request as well

#save as ethnicolor_censu_fn_predictions.csv
#615 results, not many null values

     firstname     white  not_white  race
0        Craig  0.869542   0.130458     0
1        Brian  0.674150   0.325850     0
2      Richard  0.745203   0.254797     0
3         Mark  0.669779   0.330221     0
4         John  0.500118   0.499882     0
...        ...       ...        ...   ...
3410      Ngoc  0.205129   0.794871     1
3411     Lyall  0.830285   0.169715     0
3412   Yonatan  0.843816   0.156184     0
3413    Kambiz  0.556906   0.443094     0
3414       Jal  0.443175   0.556825     1

[3415 rows x 4 columns]

## pred_census_ln w lastnames

In [43]:
ldf = pred_census_ln(namesdf, l, 2010)

#actually predicts race in an output
#first names work too but the output is diff and produces smaller row number (predictions) - 615 to be exact

### sort save as ethnicolor_censu_ln_pred.csv

In [44]:

#using the pred_census_ln(lname, l, 2010) data frame w/ prediction, i am transforming the data into something useful for the proj. 
dd = pd.DataFrame(ldf, columns=[l, 'white'])
notw = list(1-dd['white'])
dd['not_white'] = notw

race = list(list(ldf['race']))

newlist = []
for r in race:
    newlist.append(str(r))
newlist

correct = []
for n in list(dd['not_white']):
    if .50 < n < 1.00:
        #print(True)
        correct.append(1)
    else:
        #print(False)  
        correct.append(0)


dd['race'] = correct
dd


#i can do this for the firstname input of the function upon request as well
#save as ethnicolor_censu_ln_predictions.csv
#916 results no visible null values

     lastname     white  not_white  race
0        Abod  0.756722   0.243278     0
1     Soliday  0.656425   0.343575     0
2      Maigue  0.808320   0.191680     0
3       Mills  0.793126   0.206874     0
4         Lee  0.360847   0.639153     1
...       ...       ...        ...   ...
3406   Dphung  0.627950   0.372050     0
3407   Golitz  0.967179   0.032821     0
3408    Kifle  0.855179   0.144821     0
3409   Nozary  0.757276   0.242724     0
3410      Coy  0.857125   0.142875     0

[3411 rows x 4 columns]

## pred_wiki_ln w/ firstnames

In [45]:
from ethnicolr import pred_wiki_ln, pred_wiki_name
wikifirstdf = pred_wiki_ln(namesdf, f, num_iter=100, conf_int=.90)
#i like how this function has a confidence interval input 
wikifirstdf

white = ['GreaterEuropean,WestEuropean,Italian_mean', 'GreaterEuropean,WestEuropean,Nordic_mean', 
          'GreaterEuropean,WestEuropean,Germanic_mean', 'GreaterEuropean,WestEuropean,French_mean',
          'GreaterEuropean,Jewish_mean', 'GreaterEuropean,British_mean','GreaterEuropean,EastEuropean_mean']
whitelist = ['GreaterEuropean,WestEuropean,Italian', 'GreaterEuropean,WestEuropean,Nordic',
         'GreaterEuropean,WestEuropean,Germanic', 'GreaterEuropean,WestEuropean,French',
          'GreaterEuropean,Jewish', 'GreaterEuropean,British', 'GreaterEuropean,EastEuropean']

['Asian,GreaterEastAsian,EastAsian', 'Asian,GreaterEastAsian,Japanese', 'Asian,IndianSubContinent', 'GreaterAfrican,Africans', 'GreaterAfrican,Muslim', 'GreaterEuropean,British', 'GreaterEuropean,EastEuropean', 'GreaterEuropean,Jewish', 'GreaterEuropean,WestEuropean,French', 'GreaterEuropean,WestEuropean,Germanic', 'GreaterEuropean,WestEuropean,Hispanic', 'GreaterEuropean,WestEuropean,Italian', 'GreaterEuropean,WestEuropean,Nordic']

### sort save as ethnicolor_wiki_fn_pred.csv

In [46]:
#sort into binary classification

testfndf = pd.DataFrame(wikifirstdf, columns=[f])
testfndf['white'] = wikifirstdf[white].sum(axis=1)
testfndf['not_white'] = 1- testfndf['white']
testfndf['race'] = wikifirstdf['race']


race = []

for n in list(testfndf['not_white']):
    if .50 < n < 1.00:
        #print(True)
        race.append(1)
    else:
        #print(False)  
        race.append(0)

testfndf['race'] = race
testfndf
#save as ethnicolor_wiki_fn_predictions.csv
#null values:
#defalut is 1.00 not_white and for thre race column, but the defult od race column will be zero : white and not a minority

     firstname     white  not_white  race
0        Craig  0.276216   0.723784     1
1        Brian  0.381089   0.618911     1
2      Richard  0.472087   0.527913     1
3         Mark  0.435921   0.564079     1
4         John  0.291790   0.708210     1
...        ...       ...        ...   ...
3406      Ngoc  0.000000   1.000000     0
3407     Lyall  0.000000   1.000000     0
3408   Yonatan  0.000000   1.000000     0
3409    Kambiz  0.000000   1.000000     0
3410       Jal  0.000000   1.000000     0

[3411 rows x 4 columns]

## pred_wiki_ln w/lastnames

In [47]:
wikilastdf = pred_wiki_ln(namesdf, l, num_iter=100, conf_int=.90)

#this produces more predictions than the first name -->917

['Asian,GreaterEastAsian,EastAsian', 'Asian,GreaterEastAsian,Japanese', 'Asian,IndianSubContinent', 'GreaterAfrican,Africans', 'GreaterAfrican,Muslim', 'GreaterEuropean,British', 'GreaterEuropean,EastEuropean', 'GreaterEuropean,Jewish', 'GreaterEuropean,WestEuropean,French', 'GreaterEuropean,WestEuropean,Germanic', 'GreaterEuropean,WestEuropean,Hispanic', 'GreaterEuropean,WestEuropean,Italian', 'GreaterEuropean,WestEuropean,Nordic']

### sort save as ethnicolor_wiki_ln_pred.csv

In [48]:
#sort into binary classification



testlndf = pd.DataFrame(wikilastdf, columns=[l])
testlndf['white'] = wikilastdf[white].sum(axis=1)
testlndf['not_white'] = 1- testlndf['white']
testlndf['race'] = wikilastdf['race']



race = []

for n in list(testlndf['not_white']):
    if n > .50:
        #print(True)
        race.append(1)
    else:
        #print(False)  
        race.append(0)

testlndf['race'] = race
testlndf
#save as ethnicolor_wiki_last_predictions.csv
#null values:
#defalut is 1.00 not_white and for thre race column thats automatcially gunna be 1

     lastname     white  not_white  race
0        Abod  0.807993   0.192007     0
1     Soliday  0.787160   0.212840     0
2      Maigue  0.979014   0.020986     0
3       Mills  0.125113   0.874887     1
4         Lee  0.085854   0.914146     1
...       ...       ...        ...   ...
3406   Dphung  0.000000   1.000000     1
3407   Golitz  0.000000   1.000000     1
3408    Kifle  0.000000   1.000000     1
3409   Nozary  0.000000   1.000000     1
3410      Coy  0.000000   1.000000     1

[3411 rows x 4 columns]

## pred_wiki_name (this takes both the first and last names)

In [49]:
from ethnicolr import pred_wiki_ln, pred_wiki_name
wikifulldf = pred_wiki_name(namesdf,l, f, conf_int=0.9)


#produces some null values but it does list most items from the original dataframe, most likely because it uses both names

['Asian,GreaterEastAsian,EastAsian', 'Asian,GreaterEastAsian,Japanese', 'Asian,IndianSubContinent', 'GreaterAfrican,Africans', 'GreaterAfrican,Muslim', 'GreaterEuropean,British', 'GreaterEuropean,EastEuropean', 'GreaterEuropean,Jewish', 'GreaterEuropean,WestEuropean,French', 'GreaterEuropean,WestEuropean,Germanic', 'GreaterEuropean,WestEuropean,Hispanic', 'GreaterEuropean,WestEuropean,Italian', 'GreaterEuropean,WestEuropean,Nordic']

### sort save as ethnicolor_wiki_full_pred.csv

In [50]:
#sort into binary classification
#output is ethnicity, here is the list, each have mean, upper, lower bound, and standard error, we will be using the mean 
#percentages
# ethnicitylist = ['Asian,GreaterEastAsian,EastAsian', 'Asian,GreaterEastAsian,Japanese',
# 'Asian,IndianSubContinent', 'GreaterAfrican,Africans', 'GreaterAfrican,Muslim',
#  'GreaterEuropean,British', 'GreaterEuropean,EastEuropean',
#  'GreaterEuropean,Jewish', 'GreaterEuropean,WestEuropean,French', 
#  'GreaterEuropean,WestEuropean,Germanic', 'GreaterEuropean,WestEuropean,Hispanic', 
#  'GreaterEuropean,WestEuropean,Italian', 'GreaterEuropean,WestEuropean,Nordic']


a = pd.DataFrame(wikifulldf, columns=[f, l])


a['white'] = wikifulldf[white].sum(axis=1)
a['not_white'] = 1- a['white']
a['race'] = wikifulldf['race']



race = []

for n in list(a['not_white']):
    if .50 < n < 1.00:
        #print(True)
        race.append(1)
    else:
        #print(False)  
        race.append(0)
 

a['race'] = race
a

#save as ethnicolor_wiki_full_predictions.csv
#null values:
#defalut is 1.00 not_white and for thre race column thats automatcially gunna be 0

     firstname lastname     white  not_white  race
0        Craig     Abod  0.963970   0.036030     0
1        Brian  Soliday  0.939489   0.060511     0
2      Richard   Maigue  0.978386   0.021614     0
3         Mark    Mills  0.852554   0.147446     0
4         John      Lee  0.188017   0.811983     1
...        ...      ...       ...        ...   ...
3406      Ngoc   Dphung  0.000000   1.000000     0
3407     Lyall   Golitz  0.000000   1.000000     0
3408   Yonatan    Kifle  0.000000   1.000000     0
3409    Kambiz   Nozary  0.000000   1.000000     0
3410       Jal      Coy  0.000000   1.000000     0

[3411 rows x 5 columns]

## pred_fl_reg_ln(df, namecol, num_iter=100, conf_int=1.0) w/lastname

In [51]:
from ethnicolr import pred_fl_reg_ln, pred_fl_reg_name, pred_fl_reg_ln_five_cat, pred_fl_reg_name_five_cat
odf = pred_fl_reg_ln(ldf, l, num_iter=100, conf_int=.90)

#Output: Appends the following columns to the pandas DataFrame or CSV: 
#race (white, black, asian, or hispanic), asian (percentage chance Asian), hispanic, nh_black, nh_white.
#For each race it will provide the mean, standard error, lower & upper bound of confidence interval

['asian', 'hispanic', 'nh_black', 'nh_white']

### sort save as ethnicolor_fl_ln_pred.csv

In [54]:
tstdf = pd.DataFrame( columns=[l, 'white'])
tstdf
ls = list(namesdf[l])
tstdf[l] = ls
tstdf['white'] = odf['white']
tstdf['not_white'] = 1 - tstdf['white']
tstdf['race'] = odf['race_x']


race = []

for n in list(tstdf['not_white']):
    if n > .50:
        #print(True)
        race.append(1)
    else:
        #print(False)  
        race.append(0)
 

tstdf['race'] = race
tstdf

#917 results, don't see null values

     lastname     white  not_white  race
0        Abod  0.756722   0.243278     0
1     Soliday  0.656425   0.343575     0
2      Maigue  0.808320   0.191680     0
3       Mills  0.793126   0.206874     0
4         Lee  0.360847   0.639153     1
...       ...       ...        ...   ...
3406   Dphung  0.627950   0.372050     0
3407   Golitz  0.967179   0.032821     0
3408    Kifle  0.855179   0.144821     0
3409   Nozary  0.757276   0.242724     0
3410      Coy  0.857125   0.142875     0

[3411 rows x 4 columns]

##  pred_fl_reg_name(df, 'last', 'first', conf_int=0.9) w fullname

In [55]:
odf = pred_fl_reg_name(namesdf, l, f, conf_int=0.9)

['asian', 'hispanic', 'nh_black', 'nh_white']

### sort save as ethnicolor_fl_full_pred.csv

In [56]:
b = pd.DataFrame(odf, columns=[f, l])
b['white'] = odf['nh_white_mean']
b['not_white'] = 1 - b['white']
b['race'] = odf['race']


race = []

        

for n in list(b['not_white']):
    if n > .50:
        #print(True)
        race.append(1)
    else:
        #print(False)  
        race.append(0)
 

b['race'] = race
b

     firstname lastname     white  not_white  race
0        Craig     Abod  0.883475   0.116525     0
1        Brian  Soliday  0.693291   0.306709     0
2      Richard   Maigue  0.890814   0.109186     0
3         Mark    Mills  0.750676   0.249324     0
4         John      Lee  0.224622   0.775378     1
...        ...      ...       ...        ...   ...
3406      Ngoc   Dphung       NaN        NaN     0
3407     Lyall   Golitz       NaN        NaN     0
3408   Yonatan    Kifle       NaN        NaN     0
3409    Kambiz   Nozary       NaN        NaN     0
3410       Jal      Coy       NaN        NaN     0

[3411 rows x 5 columns]

In [57]:
#3 more functions then next package finally

## pred_fl_reg_ln_five_cat takes a last name input but ends up using the full name

In [58]:
cdf = pred_fl_reg_ln_five_cat(namesdf, l, num_iter=100, conf_int=0.9)

['asian', 'hispanic', 'nh_black', 'nh_white', 'other']

### sort and save as ethnicolor_fl_full2_csv

In [59]:
# c = pd.DataFrame(cdf, columns=[f, l])
# c['white'] = cdf['nh_white_mean']
# c['not_white'] = 1 - c['white']
# c['race'] = cdf['race']

# racelist = list(c['race'])
# race = []

        

# for n in list(c['not_white']):
#     if n > .50:
#         #print(True)
#         race.append(1)
#     else:
#         #print(False)  
#         race.append(0)
 

# c['race'] = race
# c

## pred_fl_reg_name_five_cat(df, namecol, num_iter=100, conf_int=1.0) w/full name input

In [60]:
rdf = pred_fl_reg_name_five_cat(namesdf, l, f, num_iter=100, conf_int=0.9)

['asian', 'hispanic', 'nh_black', 'nh_white', 'other']

In [61]:
c = pd.DataFrame(rdf, columns=[f, l])
c['white'] = rdf['nh_white_mean']
c['not_white'] = 1 - c['white']
c['race'] = rdf['race']

racelist = list(c['race'])
race = []

        

for n in list(c['not_white']):
    if n > .50:
        #print(True)
        race.append(1)
    else:
        #print(False)  
        race.append(0)
 

c['race'] = race
c

     firstname lastname     white  not_white  race
0        Craig     Abod  0.547100   0.452900     0
1        Brian  Soliday  0.361287   0.638713     1
2      Richard   Maigue  0.500621   0.499379     0
3         Mark    Mills  0.212374   0.787626     1
4         John      Lee  0.023007   0.976993     1
...        ...      ...       ...        ...   ...
3406      Ngoc   Dphung       NaN        NaN     0
3407     Lyall   Golitz       NaN        NaN     0
3408   Yonatan    Kifle       NaN        NaN     0
3409    Kambiz   Nozary       NaN        NaN     0
3410       Jal      Coy       NaN        NaN     0

[3411 rows x 5 columns]

## pred_nc_reg_name(df, namecol, num_iter=100, conf_int=1.0) w/ full names 
### but it says nc here...are they using north carolina voter registration data? I looked all over the website as well. I tried to load a page that was linked to the "full name NC model" to see what it was about and it returned an error

In [62]:
from ethnicolr import pred_nc_reg_name
z = pred_nc_reg_name(namesdf, l, f, num_iter=100, conf_int=.90)

2023-07-25 16:45:22.379541: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_2_grad/concat/split_2/split_dim' with dtype int32
	 [[{{node gradients/split_2_grad/concat/split_2/split_dim}}]]
2023-07-25 16:45:22.381123: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_grad/concat/split/split_dim' with dtype int32
	 [[{{node gradients/split_grad/concat/split/split_dim}}]]
2023-07-25 16:45:22.382108: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_1_grad/concat/split_1/split_dim' with dtype int32
	 [[{{node gradients/split_1_grad/concat/split_1/split_dim}}]]

['HL+A', 'HL+B', 'HL+I', 'HL+M', 'HL+O', 'HL+W', 'NL+A', 'NL+B', 'NL+I', 'NL+M', 'NL+O', 'NL+W']

,lastname,firstname,HL+A_mean,HL+A_std,HL+A_lb,HL+A_ub,HL+B_mean,HL+B_std,HL+B_lb,HL+B_ub,...,NL+M_ub,NL+O_mean,NL+O_std,NL+O_lb,NL+O_ub,NL+W_mean,NL+W_std,NL+W_lb,NL+W_ub,race
0,Abod,Craig,2.833178e-11,0.0,2.833178e-11,2.833178e-11,1.299032e-08,0.0,1.299032e-08,1.299032e-08,...,3.097475e-06,0.275574,0.0,0.275574,0.275574,0.313212,0.0,0.313212,0.313212,NL+W
1,Soliday,Brian,1.344512e-11,0.0,1.344512e-11,1.344512e-11,4.788999e-11,0.0,4.788999e-11,4.788999e-11,...,1.038537e-10,0.008347,0.0,0.008347,0.008347,0.000579,0.0,0.000579,0.000579,HL+M
2,Maigue,Richard,1.238406e-10,0.0,1.238406e-10,1.238406e-10,2.196076e-07,0.0,2.196076e-07,2.196076e-07,...,7.705532e-04,0.036048,0.0,0.036048,0.036048,0.108246,0.0,0.108246,0.108246,NL+I
3,Mills,Mark,8.189762e-08,0.0,8.189762e-08,8.189762e-08,1.556497e-05,0.0,1.556497e-05,1.556497e-05,...,9.926235e-04,0.062795,0.0,0.062795,0.062795,0.018194,0.0,0.018194,0.018194,NL+A
4,Lee,John,7.917655e-13,0.0,7.917655e-13,7.917655e-13,7.453077e-04,0.0,7.453077e-04,7.453077e-04,...,3.132217e-04,0.660733,0.0,0.660733,0.660733,0.009487,0.0,0.009487,0.009487,NL+O
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3406,Dphung,Ngoc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3407,Golitz,Lyall,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3408,Kifle,Yonatan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3409,Nozary,Kambiz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3410,Coy,Jal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
# / ***************************************************************************
# Race codes
# race               description
# *******************************************************************************
# A                  ASIAN
# B                  BLACK or AFRICAN AMERICAN
# I                  AMERICAN INDIAN or ALASKA NATIVE
# M                  TWO or MORE RACES
# O                  OTHER
# P                  NATIVE HAWAIIAN or PACIFIC ISLANDER
# U                  UNDESIGNATED
# W                  WHITE
# *************************************************************************** /

# / ***************************************************************************
# Ethnic codes
# ethnicity          description
# *******************************************************************************
# HL                 HISPANIC or LATINO
# NL                 NOT HISPANIC or NOT LATINO
# UN                 UNDESIGNATED
# *************************************************************************** /

### sort and save as ethnicolor_nc_full_pred.csv

In [64]:
e = pd.DataFrame(a, columns=[f, l])
e['white'] =  z['NL+W_mean'] + z['HL+W_mean']
e['not_white'] = 1 - e['white']
e['race'] = z['race']

race = []

        

for n in list(e['not_white']):
    if n > .50:
        #print(True)
        race.append(1)
    else:
        #print(False)  
        race.append(0)

 

e['race'] = race
e

#this doesn't look correct at all. Majority of these names should not be predicted as a minority

     firstname lastname     white  not_white  race
0        Craig     Abod  0.330625   0.669375     1
1        Brian  Soliday  0.000746   0.999254     1
2      Richard   Maigue  0.125258   0.874742     1
3         Mark    Mills  0.022876   0.977124     1
4         John      Lee  0.162815   0.837185     1
...        ...      ...       ...        ...   ...
3406      Ngoc   Dphung       NaN        NaN     0
3407     Lyall   Golitz       NaN        NaN     0
3408   Yonatan    Kifle       NaN        NaN     0
3409    Kambiz   Nozary       NaN        NaN     0
3410       Jal      Coy       NaN        NaN     0

[3411 rows x 5 columns]

# Package 2: RaceBert

In [ ]:
from racebert import RaceBERT
# Load the dataset
namesdf
model = RaceBERT()
# # Concatenate first and last names to form full names
namesdf['fullname'] = namesdf['firstname'] + ' ' + namesdf['lastname']
# # Predict race for all names
# namesdf
predicted_race = model.predict_race(namesdf['fullname'])
# # # # # Add the predicted race to a DataFrame
fd = pd.DataFrame(namesdf,columns =['firstname', 'lastname'])
fd['predicted_race'] = predicted_race

# # # # # Split the ‘predicted_race’ column into ‘label’ and ‘score’ columns
fd[['race', 'probability']] = fd['predicted_race'].apply(pd.Series)
# # # # # Drop the ‘predicted_race’ column
fd.drop('predicted_race', axis=1, inplace=True)

#binary sort
# Define a function to calculate the associated probability based on the race
def calculate_probability(row):
    if row['race'] == 'nh_white':
        return 1 - row['probability']
    return row['probability']

# Add a new column "not_white" with the associated probabilities
fd['not_white'] = fd.apply(calculate_probability, axis=1)

fd

# Adding nlp nw predictions to original mergent executives flagged dataframe

In [65]:
mergent_true_df['prob_nw_eth_wiki'] = a['not_white']
mergent_true_df['prob_nw_eth_fl_reg_name'] = b['not_white']
mergent_true_df['prob_nw_eth_fl_five_cat'] = c['not_white']
mergent_true_df['prob_nw_eth_census_fn'] = d['not_white']
mergent_true_df['prob_nw_eth_census_ln'] = dd['not_white']
mergent_true_df['prob_nw_eth_nc'] = e['not_white']
mergent_true_df['prob_nw_rbert']=fd['not_white']
mergent_true_df #18156 - 6356
# nonull = mergent_true_df. dropna() 
# nonull
mergent_true_df.to_csv('../data/mergent_intellect_executives/mergent_intellect_executives_nlp.csv')
mergent_true_df

,duns,company_name,firstname,lastname,title,gender,flag_owner,flag_presi_vicepresi,prob_nw_eth_wiki,prob_nw_eth_fl_reg_name,prob_nw_eth_fl_five_cat,prob_nw_eth_census_fn,prob_nw_eth_census_ln,prob_nw_eth_nc
0,08-836-5767,CARAHSOFT TECHNOLOGY CORP.,Craig,Abod,Pres,MALE,0,0,0.036030,0.116525,0.452900,0.130458,0.243278,0.669375
1,08-836-5767,CARAHSOFT TECHNOLOGY CORP.,Brian,Soliday,President,MALE,0,1,0.060511,0.306709,0.638713,0.325850,0.343575,0.999254
2,08-836-5767,CARAHSOFT TECHNOLOGY CORP.,Craig,Abod,President,MALE,0,1,0.021614,0.109186,0.499379,0.254797,0.191680,0.874742
3,08-836-5767,CARAHSOFT TECHNOLOGY CORP.,Richard,Maigue,Owner,MALE,1,0,0.147446,0.249324,0.787626,0.330221,0.206874,0.977124
4,08-836-5767,CARAHSOFT TECHNOLOGY CORP.,Mark,Mills,Vice President and DCO Program Manager,MALE,0,1,0.811983,0.775378,0.976993,0.499882,0.639153,0.837185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18151,61-724-4491,WILLOWCREEK ACADEMY,Pamela,French,Prin,FEMALE,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18152,18-565-3516,"HORIZONS TELEVISION, INC.",Leesa,Kelly,Pres,FEMALE,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18153,18-565-3516,"HORIZONS TELEVISION, INC.",Tim,Donner,Sec-treas,MALE,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18154,96-657-2682,GREEN IT SYSTEMS GROUP,Dirar,Hakeem,Managing Partner,-,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18155,96-657-2682,GREEN IT SYSTEMS GROUP,Marc,Herman,Treas,MALE,0,0,NaN,NaN,NaN,NaN,NaN,NaN