test file for nlp packages that predict race to see acuuracy,the following are the packages using 

1. ethnicolr
The model uses US census data, the Florida voting registration data, and the Wikipedia data collected by Skiena and colleagues, to predict race and ethnicity based on first and last name or just the last name. 
The model provides 06 functions. 

Source: https://ethnicolr.readthedocs.io/ethnicolr.html#install  

2. rethnicity
The model is a Bidirectional Long Short-Term Memory (Bi-LSTM), a recurrent neural network architecture commonly used for natural language processing, was chosen as the model for our study. The Florida Voter Registration was used as the training and testing data. 

Source: https://cran.r-project.org/web/packages/rethnicity/rethnicity.pdf 


The Prediction Process: 

owner ----> nlp ----> W: 70% NW: 30%    
geoid:059.... ----> W: 80% NW: 20%
            .
            .
            .
            .
geoid:059.... ----> W: 60% NW: 40%
            and use
        min & max scale? 
          ex.  
            1 -----> 40

In [2]:
import pandas as pd


#data fram we will use to test the nlp models
mergent_true_df = pd.read_csv('../data/mergent_intellect_executives/sample.csv.xz')
mergent_true_df #ask about search column, what does this mean 

#data frame with just the first and the last names
namesdf = pd.DataFrame(mergent_true_df, columns=['lastname', 'firstname'])
namesdf
#the orignal data frame contains 1067 names

            lastname firstname
0             Maigue   Richard
1              Fatah     Ifrah
2          Abu-hamda      Eyad
3            Degraft         J
4       Padwo-audick      Dara
...              ...       ...
1062  Sharifzadeh Na      Lily
1063              Na      Lily
1064             Kim    Ronnie
1065         Shihadh     Naser
1066           Lyall    Tricia

[1067 rows x 2 columns]

# Ethnicolor:

In [3]:
import ethnicolr
from ethnicolr import census_ln, pred_census_ln

#this is so i don't have to write it out
f = 'firstname'
l = 'lastname'

fname = pd.DataFrame(mergent_true_df, columns=[f]) #data frame with just first names
lname = pd.DataFrame(mergent_true_df, columns=[l]) #data frame with just last names
namesdf #datafram with both first and last names

2023-07-06 09:57:36.935253: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-07-06 09:57:36.995177: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-07-06 09:57:36.996104: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-07-06 09:57:40.364632: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

            lastname firstname
0             Maigue   Richard
1              Fatah     Ifrah
2          Abu-hamda      Eyad
3            Degraft         J
4       Padwo-audick      Dara
...              ...       ...
1062  Sharifzadeh Na      Lily
1063              Na      Lily
1064             Kim    Ronnie
1065         Shihadh     Naser
1066           Lyall    Tricia

[1067 rows x 2 columns]

## censu_ln w/first

In [4]:
census_ln(fname, f, 2010)
#produces a sig. amount of null values
#does not predict the race automatically

    firstname pctwhite pctblack pctapi pctaian pct2prace pcthispanic
0     Richard    70.35    23.46    0.9    0.57      1.97        2.75
1       Ifrah    87.31     4.48    (S)       0       (S)        4.48
2        Eyad      NaN      NaN    NaN     NaN       NaN         NaN
3           J      NaN      NaN    NaN     NaN       NaN         NaN
4        Dara    41.34     6.89   41.7     (S)       (S)        5.65
..        ...      ...      ...    ...     ...       ...         ...
610     Terri    74.53    18.01    (S)     (S)      3.73         (S)
611      Lily    56.92    22.19   8.62       0      2.87         9.4
612    Ronnie    71.75    13.45   2.69     (S)       (S)        9.87
613     Naser    81.76     1.92   8.28       0      3.45         4.6
614    Tricia      NaN      NaN    NaN     NaN       NaN         NaN

[615 rows x 7 columns]

## censu_ln w/last

In [5]:
census_ln(fname, f, 2010)
#output is mostly null

    firstname pctwhite pctblack pctapi pctaian pct2prace pcthispanic
0     Richard    70.35    23.46    0.9    0.57      1.97        2.75
1       Ifrah    87.31     4.48    (S)       0       (S)        4.48
2        Eyad      NaN      NaN    NaN     NaN       NaN         NaN
3           J      NaN      NaN    NaN     NaN       NaN         NaN
4        Dara    41.34     6.89   41.7     (S)       (S)        5.65
..        ...      ...      ...    ...     ...       ...         ...
610     Terri    74.53    18.01    (S)     (S)      3.73         (S)
611      Lily    56.92    22.19   8.62       0      2.87         9.4
612    Ronnie    71.75    13.45   2.69     (S)       (S)        9.87
613     Naser    81.76     1.92   8.28       0      3.45         4.6
614    Tricia      NaN      NaN    NaN     NaN       NaN         NaN

[615 rows x 7 columns]

## pred_census_ln w firstnames

In [6]:
fdf = pred_census_ln(fname, f, 2010)
fdf
#as you can see this model outputs only 615 predictions

2023-07-06 09:57:46.756061: E tensorflow/compiler/xla/stream_executor/cuda/cuda_driver.cc:266] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected

    firstname       api     black  hispanic     white      race
0     Richard  0.005425  0.222751  0.026621  0.745203     white
1       Ifrah  0.030944  0.553831  0.034017  0.381209     black
2        Eyad  0.025880  0.022798  0.021818  0.929505     white
3           J  0.461375  0.068442  0.085889  0.384294       api
4        Dara  0.457795  0.064153  0.121122  0.356931       api
..        ...       ...       ...       ...       ...       ...
610     Terri  0.005211  0.016933  0.119547  0.858308     white
611      Lily  0.005142  0.066140  0.029792  0.898927     white
612    Ronnie  0.007947  0.163154  0.030461  0.798438     white
613     Naser  0.008601  0.035153  0.027951  0.928295     white
614    Tricia  0.017301  0.003254  0.908098  0.071347  hispanic

[615 rows x 6 columns]

### sort save as ethnicolor_censu_fn_pred.csv

In [7]:
#sort to binary classification w first names
#using the pred_census_fn(fname, l, 2010) data frame w/ prediction, i am transforming the data into something useful for the proj. 
transdf = pd.DataFrame(fdf, columns=[f, 'white'])
notw = list(1-transdf['white'])
transdf['not_white'] = notw

race = list(list(fdf['race']))

newlist = []
for r in race:
    newlist.append(str(r))
newlist

correct = []
for i in newlist:
    if i != 'white':
       #print(i,True)
       correct.append(1) 
    if i == 'white':
       #print(i, False)
       correct.append(0) 
correct

transdf['race'] = correct
transdf

#I added a prop not_white column and made it so that the race column used boolean values:
#1 if minority 
#0 if white

#i can do this for the firstname input of the function upon request as well

#save as ethnicolor_censu_fn_predictions.csv
#615 results, not many null values

    firstname     white  not_white  race
0     Richard  0.745203   0.254797     0
1       Ifrah  0.381209   0.618791     1
2        Eyad  0.929505   0.070495     0
3           J  0.384294   0.615706     1
4        Dara  0.356931   0.643070     1
..        ...       ...        ...   ...
610     Terri  0.858308   0.141692     0
611      Lily  0.898927   0.101073     0
612    Ronnie  0.798438   0.201562     0
613     Naser  0.928295   0.071705     0
614    Tricia  0.071347   0.928653     1

[615 rows x 4 columns]

## pred_census_ln w lastnames

In [8]:
ldf = pred_census_ln(lname, l, 2010)
ldf
#actually predicts race in an output
#first names work too but the output is diff and produces smaller row number (predictions) - 615 to be exact

           lastname       api     black  hispanic     white   race
0            Maigue  0.024608  0.125806  0.041267  0.808320  white
1             Fatah  0.186252  0.329301  0.077460  0.406987  white
2         Abu-Hamda  0.834071  0.003604  0.004044  0.158281    api
3           Degraft  0.003943  0.018520  0.027489  0.950047  white
4      Padwo-Audick  0.007617  0.027304  0.026128  0.938950  white
..              ...       ...       ...       ...       ...    ...
912        Moreland  0.002145  0.101038  0.028627  0.868189  white
913  Sharifzadeh Na  0.366665  0.043451  0.012322  0.577562  white
914              Na  0.323868  0.022660  0.037510  0.615962  white
915         Shihadh  0.885730  0.047059  0.001922  0.065290    api
916           Lyall  0.007086  0.134766  0.027863  0.830285  white

[917 rows x 6 columns]

### sort save as ethnicolor_censu_ln_pred.csv

In [9]:

#using the pred_census_ln(lname, l, 2010) data frame w/ prediction, i am transforming the data into something useful for the proj. 
transdf = pd.DataFrame(ldf, columns=[l, 'white'])
notw = list(1-transdf['white'])
transdf['not_white'] = notw

race = list(list(ldf['race']))

newlist = []
for r in race:
    newlist.append(str(r))
newlist

correct = []
for i in newlist:
    if i != 'white':
       #print(i,True)
       correct.append(1) 
    if i == 'white':
       #print(i, False)
       correct.append(0) 
correct

transdf['race'] = correct
transdf


#i can do this for the firstname input of the function upon request as well
#save as ethnicolor_censu_ln_predictions.csv
#916 results no visible null values

           lastname     white  not_white  race
0            Maigue  0.808320   0.191680     0
1             Fatah  0.406987   0.593013     0
2         Abu-Hamda  0.158281   0.841719     1
3           Degraft  0.950047   0.049953     0
4      Padwo-Audick  0.938950   0.061050     0
..              ...       ...        ...   ...
912        Moreland  0.868189   0.131811     0
913  Sharifzadeh Na  0.577562   0.422438     0
914              Na  0.615962   0.384038     0
915         Shihadh  0.065290   0.934710     1
916           Lyall  0.830285   0.169715     0

[917 rows x 4 columns]

## pred_wiki_ln w/ firstnames

In [10]:
from ethnicolr import pred_wiki_ln, pred_wiki_name
wikifirstdf = pred_wiki_ln(fname, f, num_iter=1046, conf_int=.90)
#i like how this function has a confidence interval input 
wikifirstdf

white = ['GreaterEuropean,WestEuropean,Italian_mean', 'GreaterEuropean,WestEuropean,Nordic_mean', 
          'GreaterEuropean,WestEuropean,Germanic_mean', 'GreaterEuropean,WestEuropean,French_mean',
          'GreaterEuropean,Jewish_mean', 'GreaterEuropean,British_mean','GreaterEuropean,EastEuropean_mean']
whitelist = ['GreaterEuropean,WestEuropean,Italian', 'GreaterEuropean,WestEuropean,Nordic',
         'GreaterEuropean,WestEuropean,Germanic', 'GreaterEuropean,WestEuropean,French',
          'GreaterEuropean,Jewish', 'GreaterEuropean,British', 'GreaterEuropean,EastEuropean']

#this does not produce many predictions with the first name --> 615

['Asian,GreaterEastAsian,EastAsian', 'Asian,GreaterEastAsian,Japanese', 'Asian,IndianSubContinent', 'GreaterAfrican,Africans', 'GreaterAfrican,Muslim', 'GreaterEuropean,British', 'GreaterEuropean,EastEuropean', 'GreaterEuropean,Jewish', 'GreaterEuropean,WestEuropean,French', 'GreaterEuropean,WestEuropean,Germanic', 'GreaterEuropean,WestEuropean,Hispanic', 'GreaterEuropean,WestEuropean,Italian', 'GreaterEuropean,WestEuropean,Nordic']

### sort save as ethnicolor_wiki_fn_pred.csv

In [11]:
#sort into binary classification

testfndf = pd.DataFrame(wikifirstdf, columns=[f])
testfndf['white'] = wikifirstdf[white].sum(axis=1)
testfndf['not_white'] = 1- testfndf['white']
testfndf['race'] = wikifirstdf['race']


racelistfn = list(testfndf['race'])

race = []

for r in racelistfn:
    if r not in whitelist:
        #print(True)
        race.append(1)
    else:
        #print(False)  
        race.append(0)

testfndf['race'] = race
testfndf
#save as ethnicolor_wiki_fn_predictions.csv
#null values:
#defalut is 1.00 not_white and for thre race column thats automatcially gunna be 1

    firstname     white  not_white  race
0     Richard  0.967063   0.032937     0
1       Ifrah  0.662898   0.337102     0
2        Eyad  0.403642   0.596358     1
3           J  0.695001   0.304999     0
4        Dara  0.358881   0.641119     1
..        ...       ...        ...   ...
610     Terri  0.000000   1.000000     1
611      Lily  0.000000   1.000000     1
612    Ronnie  0.000000   1.000000     1
613     Naser  0.000000   1.000000     1
614    Tricia  0.000000   1.000000     1

[615 rows x 4 columns]

## pred_wiki_ln w/lastnames

In [12]:
wikilastdf = pred_wiki_ln(lname, l, num_iter=100, conf_int=.90)

wikilastdf
#this produces more predictions than the first name -->917

['Asian,GreaterEastAsian,EastAsian', 'Asian,GreaterEastAsian,Japanese', 'Asian,IndianSubContinent', 'GreaterAfrican,Africans', 'GreaterAfrican,Muslim', 'GreaterEuropean,British', 'GreaterEuropean,EastEuropean', 'GreaterEuropean,Jewish', 'GreaterEuropean,WestEuropean,French', 'GreaterEuropean,WestEuropean,Germanic', 'GreaterEuropean,WestEuropean,Hispanic', 'GreaterEuropean,WestEuropean,Italian', 'GreaterEuropean,WestEuropean,Nordic']

,lastname,"Asian,GreaterEastAsian,EastAsian_mean","Asian,GreaterEastAsian,EastAsian_std","Asian,GreaterEastAsian,EastAsian_lb","Asian,GreaterEastAsian,EastAsian_ub","Asian,GreaterEastAsian,Japanese_mean","Asian,GreaterEastAsian,Japanese_std","Asian,GreaterEastAsian,Japanese_lb","Asian,GreaterEastAsian,Japanese_ub","Asian,IndianSubContinent_mean",...,"GreaterEuropean,WestEuropean,Hispanic_ub","GreaterEuropean,WestEuropean,Italian_mean","GreaterEuropean,WestEuropean,Italian_std","GreaterEuropean,WestEuropean,Italian_lb","GreaterEuropean,WestEuropean,Italian_ub","GreaterEuropean,WestEuropean,Nordic_mean","GreaterEuropean,WestEuropean,Nordic_std","GreaterEuropean,WestEuropean,Nordic_lb","GreaterEuropean,WestEuropean,Nordic_ub",race
0,Maigue,0.063709,0.055292,0.013755,0.167351,0.132599,0.108593,0.028937,0.363122,0.001849,...,0.167227,0.007994,0.005139,0.002464,0.018073,0.001919,0.001729,0.000403,0.005238,"GreaterEuropean,British"
1,Fatah,0.001452,0.001459,0.000283,0.004060,0.000645,0.000663,0.000149,0.001512,0.089392,...,0.054497,0.014601,0.007859,0.004755,0.028405,0.002117,0.001539,0.000631,0.004517,"GreaterAfrican,Muslim"
2,Abu-Hamda,0.022260,0.017675,0.004152,0.051796,0.362826,0.246266,0.038735,0.850522,0.011529,...,0.054119,0.001681,0.001436,0.000481,0.005395,0.004507,0.005305,0.000721,0.011861,"GreaterAfrican,Africans"
3,Degraft,0.006379,0.004170,0.001612,0.014773,0.006669,0.005978,0.001196,0.021544,0.002145,...,0.050182,0.009900,0.008618,0.002704,0.028761,0.029738,0.032316,0.004509,0.090539,"GreaterEuropean,British"
4,Padwo-Audick,0.001368,0.001645,0.000186,0.003512,0.003924,0.004307,0.000358,0.012566,0.020677,...,0.036717,0.011290,0.009771,0.002357,0.027696,0.011995,0.016645,0.001297,0.047759,"GreaterEuropean,British"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912,Moreland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
913,Sharifzadeh Na,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
914,Na,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
915,Shihadh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
916,Lyall,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### sort save as ethnicolor_wiki_ln_pred.csv

In [13]:
#sort into binary classification



testlndf = pd.DataFrame(wikilastdf, columns=[l])
testlndf['white'] = wikilastdf[white].sum(axis=1)
testlndf['not_white'] = 1- testlndf['white']
testlndf['race'] = wikilastdf['race']


racelistln = list(testlndf['race'])

race = []

for r in racelistln:
    if r not in whitelist:
        #print(True)
        race.append(1)
    else:
        #print(False)  
        race.append(0)

testlndf['race'] = race
testlndf
#save as ethnicolor_wiki_last_predictions.csv
#null values:
#defalut is 1.00 not_white and for thre race column thats automatcially gunna be 1

           lastname     white  not_white  race
0            Maigue  0.696992   0.303008     0
1             Fatah  0.234046   0.765954     1
2         Abu-Hamda  0.061098   0.938902     1
3           Degraft  0.932530   0.067470     0
4      Padwo-Audick  0.935074   0.064926     0
..              ...       ...        ...   ...
912        Moreland  0.000000   1.000000     1
913  Sharifzadeh Na  0.000000   1.000000     1
914              Na  0.000000   1.000000     1
915         Shihadh  0.000000   1.000000     1
916           Lyall  0.000000   1.000000     1

[917 rows x 4 columns]

## pred_wiki_name (this takes both the first and last names)

In [14]:
from ethnicolr import pred_wiki_ln, pred_wiki_name
wikifulldf = pred_wiki_name(namesdf,l, f, conf_int=0.9)
wikifulldf

#produces some null values but it does list most items from the original dataframe, most likely because it uses both names

['Asian,GreaterEastAsian,EastAsian', 'Asian,GreaterEastAsian,Japanese', 'Asian,IndianSubContinent', 'GreaterAfrican,Africans', 'GreaterAfrican,Muslim', 'GreaterEuropean,British', 'GreaterEuropean,EastEuropean', 'GreaterEuropean,Jewish', 'GreaterEuropean,WestEuropean,French', 'GreaterEuropean,WestEuropean,Germanic', 'GreaterEuropean,WestEuropean,Hispanic', 'GreaterEuropean,WestEuropean,Italian', 'GreaterEuropean,WestEuropean,Nordic']

,lastname,firstname,"Asian,GreaterEastAsian,EastAsian_mean","Asian,GreaterEastAsian,EastAsian_std","Asian,GreaterEastAsian,EastAsian_lb","Asian,GreaterEastAsian,EastAsian_ub","Asian,GreaterEastAsian,Japanese_mean","Asian,GreaterEastAsian,Japanese_std","Asian,GreaterEastAsian,Japanese_lb","Asian,GreaterEastAsian,Japanese_ub",...,"GreaterEuropean,WestEuropean,Hispanic_ub","GreaterEuropean,WestEuropean,Italian_mean","GreaterEuropean,WestEuropean,Italian_std","GreaterEuropean,WestEuropean,Italian_lb","GreaterEuropean,WestEuropean,Italian_ub","GreaterEuropean,WestEuropean,Nordic_mean","GreaterEuropean,WestEuropean,Nordic_std","GreaterEuropean,WestEuropean,Nordic_lb","GreaterEuropean,WestEuropean,Nordic_ub",race
0,Maigue,Richard,0.006122,0.004836,0.001447,0.014404,0.004541,0.004884,0.000686,0.012293,...,0.058925,0.015064,0.017060,0.003187,0.041373,0.003069,0.003104,0.000602,0.008510,"GreaterEuropean,British"
1,Fatah,Ifrah,0.000280,0.000462,0.000017,0.000894,0.000105,0.000261,0.000004,0.000400,...,0.005109,0.006882,0.017738,0.000582,0.014552,0.005237,0.006233,0.000560,0.019543,"GreaterAfrican,Muslim"
2,Abu-hamda,Eyad,0.000315,0.000367,0.000024,0.001116,0.002343,0.005379,0.000037,0.010122,...,0.002697,0.004005,0.003659,0.000730,0.010839,0.005143,0.006354,0.000363,0.018916,"GreaterAfrican,Muslim"
3,Degraft,J,0.010610,0.006710,0.003377,0.025650,0.009294,0.005453,0.003442,0.019135,...,0.106652,0.021887,0.013111,0.007861,0.048384,0.019937,0.018146,0.005003,0.053791,"GreaterEuropean,Jewish"
4,Padwo-audick,Dara,0.006048,0.004763,0.000982,0.016601,0.002954,0.004080,0.000179,0.012988,...,0.066350,0.028002,0.024865,0.007984,0.067867,0.030433,0.035323,0.002868,0.105391,"GreaterEuropean,British"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,Sharifzadeh Na,Lily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1045,Na,Lily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1046,Kim,Ronnie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1047,Shihadh,Naser,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048,Lyall,Tricia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### sort save as ethnicolor_wiki_full_pred.csv

In [15]:
#sort into binary classification
#output is ethnicity, here is the list, each have mean, upper, lower bound, and standard error, we will be using the mean 
#percentages
# ethnicitylist = ['Asian,GreaterEastAsian,EastAsian', 'Asian,GreaterEastAsian,Japanese',
# 'Asian,IndianSubContinent', 'GreaterAfrican,Africans', 'GreaterAfrican,Muslim',
#  'GreaterEuropean,British', 'GreaterEuropean,EastEuropean',
#  'GreaterEuropean,Jewish', 'GreaterEuropean,WestEuropean,French', 
#  'GreaterEuropean,WestEuropean,Germanic', 'GreaterEuropean,WestEuropean,Hispanic', 
#  'GreaterEuropean,WestEuropean,Italian', 'GreaterEuropean,WestEuropean,Nordic']


testdf = pd.DataFrame(wikifulldf, columns=[f, l])


testdf['white'] = wikifulldf[white].sum(axis=1)
testdf['not_white'] = 1- testdf['white']
testdf['race'] = wikifulldf['race']


testdf

racelist = list(testdf['race'])




race = []

for r in racelist:
    if r in whitelist:
        #print(True)
        race.append(0)
    else:
        #print(False)  
        race.append(1)
 

testdf['race'] = race
testdf

#save as ethnicolor_wiki_full_predictions.csv
#null values:
#defalut is 1.00 not_white and for thre race column thats automatcially gunna be 1

     firstname        lastname     white  not_white  race
0      Richard          Maigue  0.944291   0.055709     0
1        Ifrah           Fatah  0.129338   0.870662     1
2         Eyad       Abu-hamda  0.124830   0.875170     1
3            J         Degraft  0.863817   0.136183     0
4         Dara    Padwo-audick  0.896564   0.103436     0
...        ...             ...       ...        ...   ...
1044      Lily  Sharifzadeh Na  0.000000   1.000000     1
1045      Lily              Na  0.000000   1.000000     1
1046    Ronnie             Kim  0.000000   1.000000     1
1047     Naser         Shihadh  0.000000   1.000000     1
1048    Tricia           Lyall  0.000000   1.000000     1

[1049 rows x 5 columns]

## pred_fl_reg_ln(df, namecol, num_iter=100, conf_int=1.0) w/lastname

In [16]:
from ethnicolr import pred_fl_reg_ln, pred_fl_reg_name, pred_fl_reg_ln_five_cat, pred_fl_reg_name_five_cat
odf = pred_fl_reg_ln(ldf, l, num_iter=100, conf_int=.90)
odf

#Output: Appends the following columns to the pandas DataFrame or CSV: 
#race (white, black, asian, or hispanic), asian (percentage chance Asian), hispanic, nh_black, nh_white.
#For each race it will provide the mean, standard error, lower & upper bound of confidence interval

['asian', 'hispanic', 'nh_black', 'nh_white']

,lastname,api,black,hispanic,white,race_x,asian_mean,asian_std,asian_lb,asian_ub,...,hispanic_ub,nh_black_mean,nh_black_std,nh_black_lb,nh_black_ub,nh_white_mean,nh_white_std,nh_white_lb,nh_white_ub,race_y
0,Maigue,0.024608,0.125806,0.041267,0.808320,white,0.021269,0.019228,0.003188,0.049547,...,0.343219,0.163622,0.077433,0.069100,0.328952,0.696782,0.131500,0.472388,0.867354,nh_white
1,Fatah,0.186252,0.329301,0.077460,0.406987,white,0.064848,0.057036,0.012725,0.154519,...,0.159512,0.207445,0.072288,0.098293,0.318127,0.639126,0.093365,0.471409,0.777130,nh_white
2,Abu-Hamda,0.834071,0.003604,0.004044,0.158281,api,0.423090,0.170885,0.151977,0.725472,...,0.322043,0.058560,0.035536,0.018358,0.133418,0.382730,0.142302,0.156811,0.578466,asian
3,Degraft,0.003943,0.018520,0.027489,0.950047,white,0.004228,0.003170,0.001414,0.007896,...,0.047313,0.038269,0.022922,0.012893,0.075992,0.930027,0.024467,0.885774,0.960764,nh_white
4,Padwo-Audick,0.007617,0.027304,0.026128,0.938950,white,0.038668,0.034415,0.005555,0.105823,...,0.553822,0.189242,0.119825,0.051140,0.399353,0.584956,0.158587,0.299496,0.788180,nh_white
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912,Moreland,0.002145,0.101038,0.028627,0.868189,white,0.008143,0.003179,0.004133,0.013013,...,0.048559,0.360670,0.076812,0.245610,0.497699,0.602831,0.077581,0.478504,0.719396,nh_white
913,Sharifzadeh Na,0.366665,0.043451,0.012322,0.577562,white,0.119650,0.138541,0.017947,0.403219,...,0.060826,0.032871,0.030892,0.007926,0.094358,0.820698,0.147443,0.542768,0.943492,nh_white
914,Na,0.323868,0.022660,0.037510,0.615962,white,0.644155,0.090872,0.510844,0.803251,...,0.145383,0.035164,0.014187,0.014684,0.061029,0.219376,0.061840,0.111308,0.312743,asian
915,Shihadh,0.885730,0.047059,0.001922,0.065290,api,0.358560,0.156458,0.128483,0.653069,...,0.097476,0.100653,0.060405,0.029660,0.192562,0.485209,0.156044,0.238799,0.742125,nh_white
916,Lyall,0.007086,0.134766,0.027863,0.830285,white,0.006952,0.003166,0.003067,0.013331,...,0.019932,0.141847,0.049932,0.073820,0.248622,0.838161,0.050167,0.738350,0.910797,nh_white

### sort save as ethnicolor_fl_ln_pred.csv

In [17]:
tstdf = pd.DataFrame( columns=[l, 'white'])
tstdf
ls = list(lname[l])
tstdf[l] = ls
tstdf['white'] = odf['white']
tstdf['not_white'] = 1 - tstdf['white']
tstdf['race'] = odf['race_x']

racelist = list(tstdf['race'])

race = []

for r in racelist:
    if r in 'white':
        #print(True)
        race.append(0)
    else:
        #print(False)  
        race.append(1)
 

tstdf['race'] = race
tstdf

#917 results, don't see null values

           lastname     white  not_white  race
0            Maigue  0.808320   0.191680     0
1             Fatah  0.406987   0.593013     0
2         Abu-Hamda  0.158281   0.841719     1
3           Degraft  0.950047   0.049953     0
4      Padwo-Audick  0.938950   0.061050     0
..              ...       ...        ...   ...
912        Moreland  0.868189   0.131811     0
913  Sharifzadeh Na  0.577562   0.422438     0
914              Na  0.615962   0.384038     0
915         Shihadh  0.065290   0.934710     1
916           Lyall  0.830285   0.169715     0

[917 rows x 4 columns]

##  pred_fl_reg_name(df, 'last', 'first', conf_int=0.9) w fullname

In [18]:
odf = pred_fl_reg_name(namesdf, l, f, conf_int=0.9)
odf

['asian', 'hispanic', 'nh_black', 'nh_white']

,lastname,firstname,asian_mean,asian_std,asian_lb,asian_ub,hispanic_mean,hispanic_std,hispanic_lb,hispanic_ub,nh_black_mean,nh_black_std,nh_black_lb,nh_black_ub,nh_white_mean,nh_white_std,nh_white_lb,nh_white_ub,race
0,Maigue,Richard,0.003440,0.002762,0.000879,0.008726,0.020695,0.011611,0.008454,0.045432,0.053538,0.028258,0.022086,0.094484,0.922327,0.036251,0.865766,0.962993,nh_white
1,Fatah,Ifrah,0.073027,0.087367,0.010516,0.205289,0.019775,0.014851,0.004882,0.042669,0.623835,0.203509,0.213465,0.918672,0.283362,0.165315,0.056691,0.574437,nh_black
2,Abu-hamda,Eyad,0.524037,0.173050,0.231487,0.796475,0.048972,0.052584,0.010632,0.122031,0.070471,0.043097,0.021518,0.134402,0.356521,0.156570,0.115826,0.617605,asian
3,Degraft,J,0.006003,0.004818,0.001389,0.014818,0.024541,0.011542,0.010916,0.048690,0.067925,0.024991,0.030684,0.109666,0.901530,0.029555,0.852455,0.940771,nh_white
4,Padwo-audick,Dara,0.006177,0.004512,0.002764,0.015281,0.026790,0.014504,0.011317,0.047035,0.064748,0.039189,0.016093,0.127136,0.902285,0.042737,0.817262,0.958478,nh_white
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,Sharifzadeh Na,Lily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1045,Na,Lily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1046,Kim,Ronnie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1047,Shihadh,Naser,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048,Lyall,Tricia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### sort save as ethnicolor_fl_full_pred.csv

In [42]:
gdf = pd.DataFrame(odf, columns=[f, l])
gdf['white'] = odf['nh_white_mean']
gdf['not_white'] = 1 - gdf['white']
gdf['race'] = odf['race']

racelist = list(gdf['race'])
race = []

        

for r in racelist:
    if 'white' in str(r):
        #print(True)
        race.append(0)

    else:
        #print(False)  
        race.append(1)
 

gdf['race'] = race
gdf

     firstname        lastname     white  not_white  race
0      Richard          Maigue  0.922327   0.077673     0
1        Ifrah           Fatah  0.283362   0.716638     1
2         Eyad       Abu-hamda  0.356521   0.643479     1
3            J         Degraft  0.901530   0.098470     0
4         Dara    Padwo-audick  0.902285   0.097715     0
...        ...             ...       ...        ...   ...
1044      Lily  Sharifzadeh Na       NaN        NaN     1
1045      Lily              Na       NaN        NaN     1
1046    Ronnie             Kim       NaN        NaN     1
1047     Naser         Shihadh       NaN        NaN     1
1048    Tricia           Lyall       NaN        NaN     1

[1049 rows x 5 columns]

In [ ]:
#3 more functions then next package finally

## pred_fl_reg_ln_five_cat takes a last name input but ends up using the full name

In [46]:
cdf = pred_fl_reg_ln_five_cat(namesdf, l, num_iter=100, conf_int=0.9)
cdf

['asian', 'hispanic', 'nh_black', 'nh_white', 'other']

,lastname,firstname,__name,asian_mean,asian_std,asian_lb,asian_ub,hispanic_mean,hispanic_std,hispanic_lb,...,nh_black_ub,nh_white_mean,nh_white_std,nh_white_lb,nh_white_ub,other_mean,other_std,other_lb,other_ub,race
0,Maigue,Richard,Maigue Richard,0.121832,0.046497,0.069076,0.217714,0.049245,0.025251,0.019398,...,0.489031,0.249890,0.053990,0.154539,0.328890,0.245395,0.024542,0.201885,0.289151,nh_black
1,Fatah,Ifrah,Fatah Ifrah,0.232465,0.054600,0.151980,0.322403,0.055341,0.022405,0.027832,...,0.266648,0.150524,0.042986,0.088527,0.226194,0.402106,0.052310,0.323307,0.482265,other
2,Abu-Hamda,Eyad,Abu-Hamda Eyad,0.738636,0.114430,0.507867,0.902092,0.012154,0.012270,0.002062,...,0.038819,0.006762,0.005327,0.001819,0.019862,0.229193,0.099772,0.092105,0.427966,asian
3,Degraft,J,Degraft J,0.173908,0.048707,0.105871,0.261118,0.066316,0.026748,0.030791,...,0.175756,0.416398,0.060287,0.312996,0.527962,0.246797,0.024122,0.210065,0.282859,nh_white
4,Padwo-Audick,Dara,Padwo-Audick Dara,0.130786,0.048638,0.067992,0.210311,0.060550,0.026047,0.024128,...,0.273805,0.355252,0.074770,0.237073,0.466518,0.338863,0.057572,0.265898,0.444679,nh_white
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912,Moreland,Terri,Moreland Terri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
913,Sharifzadeh Na,Lily,Sharifzadeh Na Lily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
914,Na,Lily,Na Lily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
915,Shihadh,Naser,Shihadh Naser,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
916,Lyall,Tricia,Lyall Tricia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### sort and save as ethnicolor_fl_full2_csv

In [47]:
ddf = pd.DataFrame(cdf, columns=[f, l])
ddf['white'] = cdf['nh_white_mean']
ddf['not_white'] = 1 - ddf['white']
ddf['race'] = cdf['race']

racelist = list(ddf['race'])
race = []

        

for r in racelist:
    if 'white' in str(r):
        #print(True)
        race.append(0)

    else:
        #print(False)  
        race.append(1)
 

ddf['race'] = race
ddf

    firstname        lastname     white  not_white  race
0     Richard          Maigue  0.249890   0.750110     1
1       Ifrah           Fatah  0.150524   0.849476     1
2        Eyad       Abu-Hamda  0.006762   0.993238     1
3           J         Degraft  0.416398   0.583602     0
4        Dara    Padwo-Audick  0.355252   0.644748     0
..        ...             ...       ...        ...   ...
912     Terri        Moreland       NaN        NaN     1
913      Lily  Sharifzadeh Na       NaN        NaN     1
914      Lily              Na       NaN        NaN     1
915     Naser         Shihadh       NaN        NaN     1
916    Tricia           Lyall       NaN        NaN     1

[917 rows x 5 columns]

## pred_fl_reg_name_five_cat(df, namecol, num_iter=100, conf_int=1.0) w/full name input

In [51]:
rdf = pred_fl_reg_name_five_cat(namesdf, l, f, num_iter=100, conf_int=0.9)
rdf

['asian', 'hispanic', 'nh_black', 'nh_white', 'other']

,lastname,firstname,asian_mean,asian_std,asian_lb,asian_ub,hispanic_mean,hispanic_std,hispanic_lb,hispanic_ub,...,nh_black_ub,nh_white_mean,nh_white_std,nh_white_lb,nh_white_ub,other_mean,other_std,other_lb,other_ub,race
0,Maigue,Richard,0.062334,0.029159,0.032706,0.128412,0.055755,0.045810,0.024741,0.136465,...,0.136109,0.576008,0.088633,0.398456,0.690129,0.225319,0.026313,0.185776,0.267320,nh_white
1,Fatah,Ifrah,0.352137,0.121528,0.137178,0.543911,0.011644,0.009086,0.002629,0.025569,...,0.510530,0.037643,0.027896,0.009368,0.102255,0.392000,0.063179,0.296966,0.501724,other
2,Abu-Hamda,Eyad,0.237091,0.125705,0.086113,0.478379,0.011233,0.006845,0.002817,0.024840,...,0.088818,0.052947,0.028110,0.012620,0.107235,0.661993,0.124713,0.390058,0.816224,other
3,Degraft,J,0.140259,0.051895,0.076405,0.231849,0.027713,0.010088,0.015319,0.048394,...,0.205519,0.539408,0.082402,0.411249,0.657571,0.174623,0.029663,0.133514,0.233273,nh_white
4,Padwo-Audick,Dara,0.081603,0.033397,0.038980,0.140909,0.026531,0.008051,0.016435,0.041899,...,0.357575,0.423877,0.085190,0.290274,0.538108,0.265671,0.034441,0.216638,0.321047,nh_white
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912,Moreland,Terri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
913,Sharifzadeh Na,Lily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
914,Na,Lily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
915,Shihadh,Naser,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
916,Lyall,Tricia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
ddf = pd.DataFrame(rdf, columns=[f, l])
ddf['white'] = rdf['nh_white_mean']
ddf['not_white'] = 1 - ddf['white']
ddf['race'] = rdf['race']

racelist = list(ddf['race'])
race = []

        

for r in racelist:
    if 'white' in str(r):
        #print(True)
        race.append(0)

    else:
        #print(False)  
        race.append(1)
 

ddf['race'] = race
ddf

    firstname        lastname     white  not_white  race
0     Richard          Maigue  0.576008   0.423992     0
1       Ifrah           Fatah  0.037643   0.962357     1
2        Eyad       Abu-Hamda  0.052947   0.947053     1
3           J         Degraft  0.539408   0.460592     0
4        Dara    Padwo-Audick  0.423877   0.576123     0
..        ...             ...       ...        ...   ...
912     Terri        Moreland       NaN        NaN     1
913      Lily  Sharifzadeh Na       NaN        NaN     1
914      Lily              Na       NaN        NaN     1
915     Naser         Shihadh       NaN        NaN     1
916    Tricia           Lyall       NaN        NaN     1

[917 rows x 5 columns]

## pred_nc_reg_name(df, namecol, num_iter=100, conf_int=1.0) w/ full names 
### but it says nc here...are they using north carolina voter registration data? I looked all over the website as well. I tried to load a page that was linked to the "full name NC model" to see what it was about and it returned an error

In [55]:
from ethnicolr import pred_nc_reg_name
a = pred_nc_reg_name(namesdf, l, f, num_iter=100, conf_int=1.0)
a

,lastname,firstname,HL+A,HL+B,HL+I,HL+M,HL+O,HL+W,NL+A,NL+B,NL+I,NL+M,NL+O,NL+W,race
0,Maigue,Richard,2.426404e-08,4.897251e-04,4.207761e-07,7.410638e-01,0.023607,2.281729e-02,0.008871,0.045301,4.027820e-03,6.537804e-03,0.061107,0.086176,HL+M
1,Fatah,Ifrah,3.246096e-12,6.255661e-10,6.198043e-11,4.399035e-12,0.000117,4.067036e-06,0.374496,0.020796,9.831738e-05,2.066789e-06,0.593492,0.010994,NL+O
2,Abu-Hamda,Eyad,6.000175e-19,1.043623e-11,1.218229e-07,1.075955e-08,0.018274,1.285487e-04,0.804959,0.000445,3.169227e-10,1.899734e-07,0.174967,0.001227,NL+A
3,Degraft,J,2.900088e-13,2.001098e-15,4.757522e-16,5.070938e-03,0.001755,1.976560e-04,0.000340,0.079001,8.278541e-01,1.143763e-04,0.019064,0.066603,NL+I
4,Padwo-Audick,Dara,2.917352e-10,9.998751e-01,1.277470e-11,5.131402e-11,0.000035,1.379635e-05,0.000023,0.000025,3.484816e-07,2.511659e-07,0.000007,0.000020,HL+B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912,Moreland,Terri,2.292790e-08,8.539724e-07,1.486156e-08,1.569945e-08,0.016036,2.154837e-02,0.036721,0.467895,1.094548e-03,2.042205e-02,0.077737,0.358545,NL+B
913,Sharifzadeh Na,Lily,2.535301e-11,1.890357e-19,3.112832e-12,4.032669e-13,0.000022,3.097265e-07,0.984924,0.000024,1.700285e-05,5.621323e-08,0.014792,0.000221,NL+A
914,Na,Lily,1.895351e-09,2.436704e-11,1.471643e-11,1.292805e-06,0.000432,2.206031e-04,0.979940,0.000267,1.909764e-09,9.241197e-07,0.017926,0.001211,NL+A
915,Shihadh,Naser,9.995044e-11,3.226682e-20,1.188312e-12,3.883677e-15,0.000167,9.303019e-07,0.847632,0.000591,6.826575e-05,1.498705e-08,0.147987,0.003553,NL+A
916,Lyall,Tricia,5.732658e-13,5.594134e-11,1.975978e-11,4.798635e-11,0.085325,2.814768e-02,0.162295,0.178680,1.670135e-03,8.847975e-06,0.311630,0.232243,NL+O

In [ ]:
# / ***************************************************************************
# Race codes
# race               description
# *******************************************************************************
# A                  ASIAN
# B                  BLACK or AFRICAN AMERICAN
# I                  AMERICAN INDIAN or ALASKA NATIVE
# M                  TWO or MORE RACES
# O                  OTHER
# P                  NATIVE HAWAIIAN or PACIFIC ISLANDER
# U                  UNDESIGNATED
# W                  WHITE
# *************************************************************************** /

# / ***************************************************************************
# Ethnic codes
# ethnicity          description
# *******************************************************************************
# HL                 HISPANIC or LATINO
# NL                 NOT HISPANIC or NOT LATINO
# UN                 UNDESIGNATED
# *************************************************************************** /

### sort and save as ethnicolor_nc_full_pred.csv

In [71]:
ddf = pd.DataFrame(a, columns=[f, l])
ddf['white'] =  a['NL+W'] + a['HL+W']
ddf['not_white'] = 1 - ddf['white']
ddf['race'] = a['race']

racelist = list(ddf['race'])
race = []

        

for r in racelist:
    if 'W' in str(r):
        #print(True)
        race.append(0)

    else:
        #print(False)  
        race.append(1)
 

ddf['race'] = race
ddf

#this doesn't look correct at all. Majority of these names should not be predicted as a minority

    firstname        lastname     white  not_white  race
0     Richard          Maigue  0.108993   0.891007     1
1       Ifrah           Fatah  0.010998   0.989002     1
2        Eyad       Abu-Hamda  0.001355   0.998645     1
3           J         Degraft  0.066800   0.933200     1
4        Dara    Padwo-Audick  0.000034   0.999966     1
..        ...             ...       ...        ...   ...
912     Terri        Moreland  0.380094   0.619906     1
913      Lily  Sharifzadeh Na  0.000221   0.999779     1
914      Lily              Na  0.001432   0.998568     1
915     Naser         Shihadh  0.003554   0.996446     1
916    Tricia           Lyall  0.260391   0.739609     1

[917 rows x 5 columns]

# Done with testing